@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/checkout.css")" rel="stylesheet" type="text/css" />
    
<script type="text/javascript">
    var subtotal = 0;
    var total = 0;
    var promotion =0;
    var _kpoint =0;
    $(document).ready(function () {
        var obj = getCart();
        var items = obj.items;
        for (var i = 0; i < items.length; i++) {
        if(i==0){
            if(items[i].variance!=""){
            $.ajax({
                type:'POST',
                url: "@Url.Action("CheckVarianceLimit", "Home")",
                data: {id:items[i].id,variance:items[i].variance},
                dataType:"json",
                success:function(data){
                if(data.success==false){
                    bootbox.alert("The item is currently sold out.",function(){
                    window.location="@Url.Action("Index", "Home")";
                    });
                }
                }
            });
            }
            else{
            $.ajax({
                type:'POST',
                url: "@Url.Action("CheckVarianceLimit", "Home")",
                data: {id:items[i].id,variance:"default"},
                dataType:"json",
                success:function(data){
                if(data.success==false){
                    bootbox.alert("The item is currently sold out.",function(){
                    window.location="@Url.Action("Index", "Home")";
                    });
                }
                }
            });
            }
        }
            var price = parseFloat(items[i].price);
            var disprice = price - (price * items[i].dis / 100);
            //disprice = Math.ceil(disprice*10)/10;
            disprice = Math.round(disprice*1000)/1000;
            disprice = disprice * items[i].qty;
            var html = '<tr>';
            html += '<td class="sub1"><div class="imageplace"><div class="image1"><img src="' + items[i].imageurl + '" /></div>';
            html += '<div class="image2"><div>SurPRIZE</div><img src="' + items[i].prizeimageurl + '" /></div></div></td>';
            html += '<td class="sub2 imagetext">' + items[i].name + ' <br /><span>' + items[i].prize + '</span><br/>';
            var vari = items[i].variance.split('`');
            html+= 'Select: ' + vari[0] +'<br/>';
            html += 'Qty: ' + items[i].qty + '<br/>Price: RM ' + disprice.toFixed(0) + '</td></tr>';
            //html += '<td class="center"> <input id="cartqty' + items[i].id + '" class="numeric" onkeyup="updateQty(this,' + items[i].id + ')" onchange="updateQty(this,' + items[i].id + ')" type="number" value="' + items[i].qty + '" min="1" step="1"/></td>';
            //html += '<td class="center" id="dis' + items[i].id + '" data-value=' + items[i].dis + '> RM ' + items[i].dis + '%<br/>(RM ' + price + ')</td>';
            //html += '<td class="right" id="disprice' + items[i].id + '" data-value=' + items[i].price + ' data-curvalue='+disprice+'> RM ' + disprice + '</td></tr>';
            var d1 = document.getElementById("checkoutplace");
            d1.insertAdjacentHTML('beforeBegin', html);
            subtotal = subtotal + disprice;
        }
        total = subtotal;
        $("#subtotal").html("RM " + subtotal.toFixed(2));
        $("#total").html("RM " + total.toFixed(2));

        
        var bill = getBilling();
        if (bill != "") {
            if (bill.payment == "molpay") {
                $("#paymenton").prop("checked", true);
            }
            else {
                $("#paymentcc").prop("checked", true);
                payment(bill.payment)
                $("#tcc").val(bill.cc);
                $("#tccv").val(bill.ccv);
                $("#texpiremonth").val(bill.month);
                $("#texpireyear").val(bill.year);
            }

            if (bill.gender == 1) {
                $("#gender1").prop("checked", true);
            }
            else {
                $("#gender2").prop("checked", true);
            }
            $("#tfirstname").val(bill.fn);
            $("#tlastname").val(bill.ln);
            $("#taddress1").val(bill.ad1);
            $("#taddress2").val(bill.ad2);
            $("#tcity").val(bill.city);
            $("#tcountry").val(bill.country);
            countrychange(bill.country,bill.state);
            $("#tstate").val(bill.state);
            $("#tzipcode").val(bill.zip);
            $("#tphone").val(bill.ph);
            if(bill.bill == false){
                $("#temail").val(bill.email);
                if (bill.pass != "") {
                    $("#tpass").val(bill.pass);
                    $("#tcfpass").val(bill.pass);
                }
            }
            else{
                $("#temail").val(bill.email);
                $("#temail").prop("disabled","disabled");
                $(".cracc").css("display","none");
            }
        }
        else{
            @if(ViewBag.bill!=null){
            <text>
                if (@ViewBag.bill.Gender == 1) {
                    $("#gender1").prop("checked", true);
                }
                else {
                    $("#gender2").prop("checked", true);
                }
                $("#tfirstname").val("@ViewBag.bill.FirstName");
                $("#tlastname").val("@ViewBag.bill.LastName");
                $("#tphone").val("@ViewBag.bill.Phone");
                $("#taddress1").val("@ViewBag.bill.AddressLine1");
                $("#taddress2").val("@ViewBag.bill.AddressLine2");
                $("#tcity").val("@ViewBag.bill.City");
                $("#tcountry").val("@ViewBag.bill.Country");
                countrychange("@ViewBag.bill.Country","@ViewBag.bill.State");
                $("#tstate").val("@ViewBag.bill.State");
                $("#tzipcode").val("@ViewBag.bill.ZipCode");
                $("#temail").val("@ViewBag.bill.Email");
                $("#temail").prop("disabled","disabled");
                $(".cracc").css("display","none");
            </text>
            }
        }
        
        var kpoint = getKPoint();
        if(kpoint!=""){
            $("#usedkpoint").prop("checked",true);
            _kpoint = kpoint.point;
            var _kpv = _kpoint;
            if(_kpoint<100){
                _kpoint=0;
                _kpv=0;
            }
            else{
                _kpv=_kpv/100;
            }
            $("#kpoint").html("-RM "+_kpv.toFixed(2));
            total = subtotal - _kpv;
            $("#total").html("RM " + total.toFixed(2));
        }
        $("#TransactionId").val(0);
        var trans = getTransaction();
        if (trans != "") {
            var traid =trans.id;
            $("#TransactionId").val(traid);
        }
        var promodata = getPromotion();
        if(promodata!=""){
            if(promodata.type==1){
                promotion=subtotal*promodata.value/100;
            }
            else{
                promotion = promodata.value;
            }
            $("#promo").html("-RM "+parseFloat(promotion).toFixed(2));
            var _kpv = _kpoint;
            if(_kpv<100){
                _kpv=0;
            }
            else{
                _kpv=_kpv/100;
            }

            total = subtotal - _kpv - promotion;
            $("#total").html("RM " + total.toFixed(2));
            
            //check promo code active
            $.ajax({
                type:'POST',
                url: "@Url.Action("CheckOutPromotionCode","Home")",
                data: {id:promodata.code, tId:$("#TransactionId").val()},
                dataType:"json",
                success:function(data){
                    bootbox.alert(data.error,function(){
                        deletePromo();
                    });
                }
            });
        }
    });
    function billingshipchange(e) {
        if (e.checked) {
            var ship = getShipping();
            if (ship != "") {
                if (ship.gender == 1) {
                    $("#gender1").prop("checked", true);
                }
                else {
                    $("#gender2").prop("checked", true);
                }
                $("#tfirstname").val(ship.fn);
                $("#tlastname").val(ship.ln);
                $("#taddress1").val(ship.ad1);
                $("#taddress2").val(ship.ad2);
                $("#tcity").val(ship.city);
                $("#tcountry").val(ship.country);
                countrychange(ship.country,ship.state);
                $("#tstate").val(ship.state);
                $("#tzipcode").val(ship.zip);
                $("#tphone").val(ship.ph);
            }
        }
    }
    function givechange(e) {
        if (e.checked) {
            $("#tnote").removeAttr("disabled");
        }
        else {
            $("#tnote").attr("disabled","disabled");
        }
    }
    function payment(i){
        $(".visa").removeClass("choose");
        $(".master").removeClass("choose");
        $(".amex").removeClass("choose");
        $("."+i).addClass("choose");
        $("#paymentcc").attr("data-value",i);
        $("#paymentccplace").css("display","block");
    }
    function paymenton(){
        $(".visa").removeClass("choose");
        $(".master").removeClass("choose");
        $(".amex").removeClass("choose");
        $("#paymentcc").attr("data-value","");
        $("#paymentccplace").css("display","none");
    }
    function checkoutcontinue() {

        var _pay = 1;
        var payment = "molpay";
//        if (document.getElementById('paymenton').checked == false) {
//            payment = $("#paymentcc").attr("data-value");
//            _pay =2;
//        }
        var cc = "";
        var ccv="";
        var month=0;
        var year=0;
//        if (_pay == 2) {
//            cc = $("#tcc").val();
//            ccv = $("#tccv").val();
//            month = $("#texpiremonth option:selected").val();
//            year = $("#texpireyear option:selected").val();
//        }
        var gender = 1;
        if (document.getElementById('gender1').checked == false) {
            gender = 2;
        }
        var fn = $("#tfirstname").val();
        var ln = $("#tlastname").val();
        var ad1 = $("#taddress1").val();
        var ad2 = $("#taddress2").val();
        var city = $("#tcity").val();
        var state = $("#tstate").val();
        var zip = $("#tzipcode").val();
        var country = $("#tcountry").val();
        var email = $("#temail").val();
        var ph = $("#tphone").val();
        var pass = $("#tpass").val();
        var cfpass = $("#tcfpass").val();

        $("#tcc").removeClass("err");
        $("#tccv").removeClass("err");
        $("#tfirstname").removeClass("err");
        $("#taddress1").removeClass("err");
        $("#tcity").removeClass("err");
        $("#tstate").removeClass("err");
        $("#tzipcode").removeClass("err");
        $("#tcountry").removeClass("err");
        $("#tphone").removeClass("err");
        $("#temail").removeClass("err");
        $("#tpass").removeClass("err");
        $("#tcfpass").removeClass("err");

        if (_pay == 2 && cc == "" && ccv == "") {
            $("#tcc").addClass("err");
            $("#tccv").addClass("err");
            $("#tcc").focus();
        }
        else if (fn == "") {
            $("#tfirstname").addClass("err");
            $("#tfirstname").focus();
        }
        else if (ad1 == "") {
            $("#taddress1").addClass("err");
            $("#taddress1").focus();
        }
        else if (city == "") {
            $("#tcity").addClass("err");
            $("#tcity").focus();
        }
        else if (state == "") {
            $("#tstate").addClass("err");
            $("#tstate").focus();
        }
        else if (zip == "") {
            $("#tzipcode").addClass("err");
            $("#tzipcode").focus();
        }
        else if (country == "") {
            $("#tcountry").addClass("err");
            $("#tcountry").focus();
        }
        else if (email == "") {
            $("#temail").addClass("err");
            $("#temail").focus();
        }
        else if(isEmail()==false){
            $("#temail").focus();
        }
        else if (ph == "") {
            $("#tphone").addClass("err");
            $("#tphone").focus();
        }
        else if((pass !="" || cfpass!="") && pass != cfpass){
            $("#tpass").addClass("err");
            $("#tcfpass").addClass("err");
            $("#tpass").focus();
        }
        else {
             $.ajax({
                type:'POST',
                url: "@Url.Action("CheckOutBillAccount","Home")",
                data: {email:email},
                dataType:"json",
                success:function(data){
                    if(data.success){
                        $("#temail").addClass("err");
                        var result = '<div id="breadcrumbs"><div class="mainwrap">';
                            result += '<div class="notif cwarning"><div class="notifwrap warning"><strong>Error:</strong> Email exist, please sign in or try with another email account.</div></div>';
                            result +='</div></div>';
                        $("#msgresult").html(result);
                    }
                    else{
                    
                        @if(ViewBag.bill!=null){
                        <text>
                            var billactive=true;
                        </text>
                        }
                        else{
                        <text>
                            var billactive=false;
                        </text>
                        }

                        var item = { payment:payment,cc:cc,ccv:ccv,month:month,year:year, gender: gender, fn: fn, ln: ln, ad1: ad1, ad2: ad2, city: city, state: state, zip: zip, country: country, email:email,ph:ph,pass:pass,bill:billactive };
                        addToBilling(item);

                        window.location= "@Url.Action("CheckOutReview", "Home")";
                    }
                }
            });
            
        }
    }
    
    function deletePromo(){
        clearPromotion();
        $("#promo").html("-RM 0.00");
        var _kpv =_kpoint;
        if(_kpv<100){
            _kpv=0;
        }
        else{
            _kpv = _kpv/100;
        }
        total = subtotal - _kpv;
        $("#total").html("RM " + total.toFixed(2));
    }
    function isNumberSpace(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 32) {
            return false;
        }
        return true;
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    function isEmail(){
        var _e = $("#temail").val();
        var re = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (_e == '' || !re.test(_e))
        {
            $("#temail").addClass("err");
            return false;
        }
        else{
            $("#temail").removeClass("err");
            return true;
        }
    }
    
</script>
}

<h2>Check Out</h2>
<div id="msgresult">
@if (ViewBag.err != null)
{

    if (ViewBag.err == "3")
    {
        <div id="breadcrumbs">
        <div class="mainwrap">
            <div class="notif cwarning"><div class="notifwrap warning"><strong>Error:</strong> Email exist, please sign in or try with another email account.</div></div>
        </div>
        </div>
    }
}
</div>
<input type="hidden" id="TransactionId" value="0" />
<div class="checkoutbrumb">
    <div class="checkouts"><div class="cart cart0 cartactive"><span class="fa fa-shopping-cart"></span></div></div>
    <div class="checkouts2"><div class="cart cart1 cartactive"><div class="icon1"></div>Shipping Info</div></div>
    <div class="checkouts2"><div class="cart cart2 cartactive"><div class="icon2"></div>Billing Info</div></div>
    <div class="checkouts2"><div class="cart cart3"><div class="icon3"></div>Review Order</div></div>
</div>

<div class="checkoutcontent"  style="display:inline-table">
    <div class="shipcontent">
        <div class="shipheader">ENTER PAYMENT INFORMATION</div>
        <div class="shipdata">
            <div class="shiprow" style="border-bottom:1px solid #cccccc">
                <div class="shipcol1 top">Select Payment</div>
                <div class="shipcol2">
                    <div class="shipcol21">
                        <input type="radio" name="payment" value="1" id="paymenton" checked="checked"/>
                            <label for="paymenton">
                                <div class="payment molpay" onclick="paymenton()"></div>
                            </label><br />
                    @*    <input type="radio" name="payment" value="2" id="paymentcc"/>
                            <label for="paymentcc">
                                <div class="payment visa" onclick="payment('visa')"></div>
                                <div class="payment master" onclick="payment('master')"></div>
                                <div class="payment amex" onclick="payment('amex')"></div>
                            </label>*@
                    </div>
                </div>
                @*<div id="paymentccplace" style="display:none">
                    <div class="shipcol1"></div>
                    <div class="shipcol2">
                        <div class="shipcol21">
                            Credit Cart Number<br />
                            <input type="text" id="tcc" class="txtInput100"/>
                        </div>
                        <div class="shipcol2space">
                        </div>
                        <div class="shipcol2text">
                            CCV<br />
                            <input type="text" id="tccv" class="txtInput100" maxlength="3"/>
                        </div>
                    </div>
                    <div class="shipcol1"></div>
                    <div class="shipcol2">
                        Expire Date<br />
                        <select id="texpiremonth"  class="txtInput100p">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        /
                        <select id="texpireyear" class="txtInput100p">
                            @{
                                for (int i = 0; i < 20; i++)
                                {
                                    var year = DateTime.Now.Year + i;
                                    <option value = "@year">@year</option>   
                                }                                
                            }
                        </select>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="shipheader">BILLING ADDRESS</div>
        <div class="shipdata">
            <div class="shiprow" style="border-bottom:1px solid #cccccc">
                <div class="shipcol2">
                    <input type="checkbox" id="billingship" onchange="billingshipchange(this)" /><label for="billingship">&nbsp;MY BILLING AND SHIPPING ADDRESS ARE THE SAME</label>
                </div>               
            </div>
           <div class="shiprow">
                <div class="shipcol1">Salutation</div>
                <div class="shipcol2">
                    <div class="shipcol21">
                        <input type="radio" name="gender" value="1" id="gender1" checked="checked"/><label for="gender1">&nbsp;Mr</label>
                    </div>
                    <div class="shipcol22">
                        <input type="radio" name="gender" value="2" id="gender2"/><label for="gender2">&nbsp;Ms</label>
                    </div>
                </div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Full Name*</div>
                <div class="shipcol2">
                    <div class="shipcol21">
                        <input type="text" class="txtInput100" id="tfirstname" placeholder="First Name"/>
                    </div>
                    <div class="shipcol2space">
                    </div>
                    <div class="shipcol22">
                        <input type="text" class="txtInput100" id="tlastname" placeholder="Last Name"/>
                    </div>
                </div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Address Line 1*</div>
                <div class="shipcol2"><input type="text" id="taddress1" class="txtInput100"/></div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Address Line 2</div>
                <div class="shipcol2"><input type="text" id="taddress2" class="txtInput100"/></div>
            </div>
             <div class="shiprow">
                <div class="shipcol1">City*</div>
                <div class="shipcol2"><input type="text" id="tcity" class="txtInput100"/></div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">State*</div>
                <div class="shipcol2">
                    <div class="shipcol21">
                        <input type="text" id="tstate" name="tstate" class="kendoDropdown w100"/>
                    </div>
                    <div class="shipcol2space">
                    </div>
                    <div class="shipcol2text">
                        Zip Code*
                    </div>
                    <div class="shipcol22">
                        <input type="text" id="tzipcode" class="txtInput100p"  maxlength="10" onkeypress="return isNumber()"/>
                    </div>
                </div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Country*</div>
                <div class="shipcol2"><input type="text" id="tcountry" class="txtInput100"  onkeyup="countrykeypress(this)"  value="Malaysia"/></div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Email*</div>
                <div class="shipcol2"><input type="text" id="temail" class="txtInput100" onkeyup="isEmail()"/></div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Phone*</div>
                <div class="shipcol2"><input type="text" id="tphone" class="txtInput100" placeholder="Example : 6016 824 4881" onkeypress="return isNumberSpace()"/></div>
            </div>
        </div>    
        <div class="shipdata cracc">
            <div class="shiprow">
                <div class="shipcol2 title">CREATE ACCOUNT FOR FASTER FUTURE CHECKOUTS (optional)</div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Create Password*</div>
                <div class="shipcol2"><input type="password" id="tpass" class="txtInput100"/></div>
            </div>
            <div class="shiprow">
                <div class="shipcol1">Retype Password*</div>
                <div class="shipcol2"><input type="password" id="tcfpass" class="txtInput100"/></div>
            </div>
        </div>
        <div class="shipdata">
            <div class="shiprow right">
                <button class="btnApply" onclick="checkoutcontinue()">CONTINUE</button>
            </div>
        </div>
    </div>
    <div class="shiplist">
        <div class="checkoutcontent">
            <table cellpadding="0" cellspacing="0" border="0">
            @if (Request.IsAuthenticated)
            {
                <tr id="checkoutplace">
                    <td class="left yourkpoint">K-Point Balance : <span>@Kuazoo.Helper.currKPoint</span>
                        <br /><input type="checkbox" id="usedkpoint" disabled="disabled" onchange="usedkpointchange(this)" /><label for="usedkpoint"> Use K-Point</label>
                    </td>
                    <td class="right enteramount" id="kpoint">
                     </td>
                </tr>
            }
                <tr>
                    <td  class="sub1 left pad0">Promo Used</td>
                    <td id="promo" class="sub2 right pad0">-RM 0.00</td>
                </tr>
                <tr>
                    <td  class="sub1 left pad0">Item Subtotal</td>
                    <td id="subtotal" class="sub2 right pad0"></td>
                </tr>
                <tr>
                    <td class="sub1 left">Shipping</td>
                    <td class="sub2 right">FREE</td>
                </tr>
                <tr>
                    <td class="total1 left">TOTAL</td>
                    <td id="total" class="total2 right"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section AddToFooter
{

    <script src="@Url.Content("~/Scripts/kendo/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/console.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/prettify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.lazyload.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("img.lazy").lazyload();
        });
    </script>
<script type="text/javascript">
    $(document).ready(function(){
        var country=$("#tcountry").val();
        if(country.length>3){
            countrychange(country,"");
        }
        else
        {
             $("#tstate").kendoComboBox({
                dataTextField: "StateName",
                dataValueField: "StateName",
                filter: "contains",
                suggest: true,
                minLength: 2,
                dataSource: {
                    type: "json",
                    serverFiltering: false,
                    transport: {
                        read: {
                            url: "@Url.Action("StateList","Home")/",
                        }
                    }
                }
            });
        }
    });
    function countrykeypress(e) {
        var state=$("#tstate").val();
        countrychange(e.value,state);
    }
    function countrychange(data,state) {
        if (data.length > 3) {
           // console.log(data);
            $("#tstate").kendoComboBox({
                dataTextField: "StateName",
                dataValueField: "StateName",
                filter: "contains",
                suggest: true,
                minLength: 2,
                dataSource: {
                    type: "json",
                    serverFiltering: false,
                    transport: {
                        read: {
                            url: "@Url.Action("StateList","Home")/"+data,
                        }
                    }
                },
                value:state
            });
        }
    }

</script>
}