@model com.kuazoo.Models.ReviewModel
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_EmptyReviewLayout.cshtml";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Review.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.raty.js")"></script>

@if (Request.IsAuthenticated && com.kuazoo.UserService.NotGuest().Result && com.kuazoo.UserService.ReviewCheckDealPurchase(Model.InventoryItemId).Result)
{
<script type="text/javascript">
    $(document).ready(function () {

        $.fn.raty.defaults.path = '@Url.Content("~/Content/img")';
        $(function () {
            $('#ratinghalf').raty({ half: true });
        });
        
        $("#btnComment").click(function () {
            $("#btnComment").attr("disabled", "disabled");
            $("#btnComment").addClass("disabled");
            var id = $("#InventoryItemId").val();
            var message = $("#txtComment").val();
            var score = ($("#ratinghalf").raty("score") * 2);
            if(id != "" && message !=""){
            if (isNaN(score)) score = 0;
            //console.log(id + "-" + message + "-" + score);
            $.ajax({
                type:'POST',
                url: "@Url.Action("ReviewAdd","Home")",
                data: {id:id,rating:score,message:message},
                dataType:"json",
                success:function(data){
                    if(data.result!=true){
                        var html='<div class="reviewrow">';
                        html+='<div class="reviewimgplace">';
                        html+='<img src="'+data.result.MemberImage+'" /></div>';
                        html+='<div class="reviewcontent">';
                        html+='<div class="title">'+data.result.MemberFullName+'<span id="timeago'+data.result.ReviewId+'"></span></div>';
                        html+='<div class="star"><div class="ratingStar"></div> '+(data.result.Rating/2)+'/5</div>';
                        html+='<div class="reviewtext">';
                        html+=data.result.Message+'</div></div></div>';
                        $("#reviewplace").prepend(html);
                        $("#txtComment").val("");
                        timeagoStart(data.result.ReviewId,data.result.ReviewDateStr);
                        
                        
                        parent.$_returnvalue = true;
                        parent.$.fancybox.close();
                    }
                    else{
                        alert(data.error);
                    }
                    $("#btnComment").removeAttr("disabled");
                    $("#btnComment").removeClass("disabled");
                    $('#ratinghalf').raty('reload');
                }
            });
            }
            else{
            $("#btnComment").removeAttr("disabled");
            $("#btnComment").removeClass("disabled");
            $('#ratinghalf').raty('reload');
            }
        });

    });

</script>
}
<script type="text/javascript">
    function timeagoStart(id, starttime) {
        //$("#" + id).html('02<span class="small">H</span>16<span class="small">M</span>')
        var start = new Date(starttime);
        var now1 = new Date();
        var now = new Date(now1.getUTCFullYear(), now1.getUTCMonth(), now1.getUTCDate(), now1.getUTCHours(), now1.getUTCMinutes(), now1.getUTCSeconds());
        var c = now.getTime() - start.getTime();
        c = c / (60 * 1000);
        //console.log(c + " " + now);
        var hours = parseInt(c / 60);
        //console.log(hours);
        var day = 0;
        if (hours > 0) {
            day = parseInt(hours / 24);
        }
        
        //console.log(day);
        var hour = parseInt(hours - (day * 24));
        var minute = parseInt(c - (day * 24*60) - (hour * 60));
        //console.log(minute);
        var result = "";
        if( day>0){
            if(day>=7){
                var week= parseInt(day/7);
                if(week>=4){
                    var month = parseInt(week/4);
                    if(month>=12){
                        var year = parseInt(month / 12);

                        if (year == 1) {
                            result = year + " year ago";
                        } else {
                            result = year + " years ago";
                        }
                    }
                    else {
                        if (month == 1) {
                            result = month + " month ago";
                        }
                        else {
                            result = month + " months ago";
                        }
                    }
                }
                else {
                    if (week == 1) {
                        result = week + " week ago";
                    } else {
                        result = week + " weeks ago";
                    }
                }
            }
            else {
                if (day == 1) {
                    result = day + " day ago";
                } else {
                    result = day + " days ago";
                }
            }
        }
        else if (hour > 0) {
            if (hour == 1) {
                result = hour + " hour ago";
            }
            else {
                result = hour + " hours ago";
            }
        }
        else if (minute > 0) {
            if (minute == 1) {
                result = minute + " minute ago";
            } else {
                result = minute + " minutes ago";
            }
        }
        else {
            result = "just now";
        }
        $("#timeago" + id).html(result);
        setTimeout(function () {
            timeagoStart(id, starttime);
        }, 1000);
    }
    function btnClose() {
        parent.$.fancybox.close();
    }
    function checkoutfreature() {
        parent.$("#reviewMsg").val("1");
        parent.$.fancybox.close();
    }
</script>

}

@{
    var displayAddReview = Request.IsAuthenticated && com.kuazoo.UserService.NotGuest().Result && com.kuazoo.UserService.ReviewCheckDealPurchase(Model.InventoryItemId).Result;
}

<div class="reviewwrap">
<div class="reviewheader">
    <h2>@Model.InventoryItemName</h2>
</div>
<div class="reviewheaderspace"></div>

@if (displayAddReview)
{
<div class="reviewrow">
    <div class="reviewimgplace">
    @{
        
    if (Kuazoo.Helper.currFacebookId != string.Empty)
    {
        <img src="http://graph.facebook.com/@Kuazoo.Helper.currFacebookId/picture"  />
    }
    else if (Kuazoo.Helper.currImage != string.Empty)
    {
            <img src="@Kuazoo.Helper.currImage" />
    }
    else
    {
            <img src="@Url.Content("~/Content/img/userimg.png")" />
    }
    }
    </div>
    <div class="reviewcontent">
    @Html.HiddenFor(model => model.InventoryItemId)
        <div class="title">@Model.MemberFullName</div>
        <div class="star"><div id="ratinghalf"></div></div>
        <div class="commentbox">
            <textarea id="txtComment" placeholder="Add a comment..."></textarea>
        </div>
    </div>
</div>
}
else
{
    if (Model.ReviewList == null || Model.ReviewList.Count == 0)
    {
        <div style="padding:20px">
            <h2>
           Purchase deal first before write review.
            </h2>
            <br />
            <p>
                <a onclick="checkoutfreature()" style="cursor:pointer" class="btnCheckOut">Check out Kuazoo! Deals</a>
            </p>
        </div>
    }
}
<div id="reviewplace">
@foreach (var v in Model.ReviewList)
{
<div class="reviewrow">
    <div class="reviewimgplace">
        <img src="@v.MemberImage" />
    </div>
    <div class="reviewcontent">
    @{var spanstr = "timeago" + v.ReviewId;}
        <div class="title">@v.MemberFullName<span id="@spanstr"></span>
            <script type="text/javascript"> timeagoStart(@v.ReviewId,'@v.ReviewDateStr');</script>
        </div>
        <div class="star"><div class="ratingStar"></div> @((decimal)v.Rating / 2)/5</div>
        <div class="reviewtext">
            @v.Message
        </div>
    </div>
</div>
}
</div>

<div class="reviewheaderspace"></div>
@if (displayAddReview)
{
<div class="reviewfooter">
    @*<button class="btnClose" onclick="btnClose()">Close</button>*@
    <button class="btnComment" id="btnComment" style="float:right; margin-right: 30px;">Submit Review</button>
</div>
}
</div>
