@model com.kuazoo.Models.RegisterModel
@using (Html.BeginForm("SignUp2", "User", FormMethod.Post, new { id = "signupForm" }))
{
@Html.AntiForgeryToken()
<div class="loginrow">
    <div class="logintext width200">First Name</div>
    <div class="logininput">@Html.TextBoxFor(model => model.FirstName, new { @class = "txtInput" })<br />@Html.ValidationMessageFor(model => model.FirstName)</div>
</div>
<div class="loginrow">
    <div class="logintext width200">Last Name</div>
    <div class="logininput">@Html.TextBoxFor(model => model.LastName, new { @class = "txtInput" })<br />@Html.ValidationMessageFor(model => model.LastName)</div>
</div>
<div class="loginrow">
    <div class="logintext width200">Email</div>
    <div class="logininput">@Html.TextBoxFor(model => model.Email, new { @class = "txtInput" })<br />@Html.ValidationMessageFor(model => model.Email)</div>
</div>
<div class="loginrow">
    <div class="logintext width200">Password</div>
    <div class="logininput">@Html.TextBoxFor(model => model.Password, new { @class = "txtInput", type = "password" })<br />@Html.ValidationMessageFor(model => model.Password)</div>
</div>
<div class="loginrow">
    <div class="logintext width200">Confirm Password</div>
    <div class="logininput">@Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "txtInput", type = "password" })<br />@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
</div>
<div class="loginrow">
    <div class="logintext width200"></div>
    <div class="logininput terms">By click Sign Up, you confirm that you accept our <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>.</div>
</div>
@*<div class="loginrow">
    <div class="logintext width200"></div>
    <div class="logininput">@Html.CheckBoxFor(model => model.VerifyEmail) <label class="VerifyEmail" for="VerifyEmail">Verify Email</label></div>
</div>*@
<div class="loginrow">
    <div class="logintext width200"></div>
    <div class="logininput"><button class="btnInput" type="submit">Sign Up</button></div>
</div>
}