@model com.kuazoo.Models.ForgotModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="notifwrap">
@if (ViewBag.msg != null && ViewBag.msg != "")
{
    if (ViewBag.msg == "1")
    {
        <div class="notif csuccess"><div class="notifwrap success"><strong>Success:</strong> Password reset email has been sent.</div></div>
    }
    else if (ViewBag.msg == "2")
    {
        <div class="notif cnotice"><div class="notifwrap notice"><strong>Notice:</strong> This e-mail address is linked with a Facebook account. Try logging in with Facebook. </div></div>
    }
    else if (ViewBag.msg == "3")
    {
        <div class="notif cerror"><div class="notifwrap error"><strong>Error:</strong> Reset failed.</div></div>
    }
    else
    {
        <div class="notif cerror"><div class="notifwrap error"><strong>Error:</strong> @ViewBag.msg </div></div>
    }
}
</div>

<div class="forgotwrap">
<h2>Reset Your Password <span class="smalltitle">or <a href="@Url.Action("SignUp", "Home")">Sign Up</a></span></h2>
<hr />
    <div class="loginwrap margintop40">
    <div class="logincontent" style="min-height:400px">
        @using (Html.BeginForm())
        {
    @Html.AntiForgeryToken()
        <div class="loginrow ">
            <div class="logintext width150">Email Address</div>
            <div class="logininput">@Html.TextBoxFor(model => model.Email, new { @class = "txtInput" })
            <br />@Html.ValidationMessageFor(model => model.Email)</div>
        </div>
        <div class="loginrow">
            <div class="logintext width150"></div>
            <div class="logininput"><button class="btnInput" type="submit">SUBMIT</button></div>
        </div>
        }
    </div>
    </div>
</div>