@model com.kuazoo.Models.ResetModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="notifwrap">
@if (ViewBag.msg != null && ViewBag.msg != "")
{
    if (ViewBag.msg == "1")
    {
        <div class="notif csuccess"><div class="notifwrap success"><strong>Success:</strong> Password reset successful.</div></div>
    }
    else if (ViewBag.msg == "3")
    {
        <div class="notif cerror"><div class="notifwrap error"><strong>Error:</strong> Password reset unsuccessful.</div></div>
    }
    else
    {
        <div class="notif cerror"><div class="notifwrap error"><strong>Error:</strong> @ViewBag.msg </div></div>
    }
}
</div>

<div class="forgotwrap">
<h2>Reset Your Password</h2>
<hr />
    <div class="loginwrap margintop40">
    <div class="logincontent" style="min-height:400px">
    @if (ViewBag.reset)
    {
        using (Html.BeginForm())
        {
    @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.User)
            @Html.HiddenFor(model => model.Token)
        <div class="loginrow ">
            <div class="logintext width250">Password</div>
            <div class="logininput">@Html.PasswordFor(model => model.NewPassword, new { @class = "txtInput" })
            <br />@Html.ValidationMessageFor(model => model.NewPassword)</div>
        </div>
        <div class="loginrow ">
            <div class="logintext width250">Password Confirmation</div>
            <div class="logininput">@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "txtInput" })
            <br />@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
        </div>
        <div class="loginrow">
            <div class="logintext width150"></div>
            <div class="logininput"><button class="btnInput" type="submit">UPDATE</button></div>
        </div>
        }
    }
    else if (ViewBag.msg == null || ViewBag.msg == "")
    {
        <div class="resettext">Reset Password Already Expire</div>
    }
    else
    {
        <div class="resettext"><a href="@Url.Action("SignIn", "User")">Sign In</a> now?</div>
    }
    </div>
    </div>
</div>