@model com.kuazoo.Models.AdminModel
@{
    ViewBag.Title = "Admin Add";
    Layout = "~/Views/Shared/_AdminSettingLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        changeverticalnav(3);
        
        
    });
</script>
<div id="breadcrumbs">
    <div class="mainwrap">
        <a href="Admin">Admin</a> <span class="active"> / Add Admin</span>
        @{
            if (ViewBag.result != null)
            {
                if (ViewBag.result == "1")
                {
                    <div class="notif csuccess"><div class="notifwrap success"><strong>Success:</strong> New Admin successfully created</div></div>
                }
                else if (ViewBag.result == "3")
                {
                    <div class="notif cerror"><div class="notifwrap error"><strong>Error:</strong> Failed Create New Admin</div></div>
                }
                else
                {
                    <div class="notif cwarning"><div class="notifwrap warning"><strong>Warning:</strong> @ViewBag.result</div></div>
                }
            }
        }
    </div>
</div>
<div id="main">
    <div id="mainwrap">
        <h1>Add Admin</h1>
    </div>
        @using (Html.BeginForm())
        {
    <div id="wrap">
            <div>
                <div class="colleft">@Html.LabelFor(model => model.FirstName)</div>
                <div class="colright">@Html.TextBoxFor(model => model.FirstName, new { @class = "long" })@Html.ValidationMessageFor(model => model.FirstName)</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.LastName)</div>
                <div class="colright">@Html.TextBoxFor(model => model.LastName, new { @class = "long" })@Html.ValidationMessageFor(model => model.LastName)</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.Email)</div>
                <div class="colright">@Html.TextBoxFor(model => model.Email, new { @class = "long" })@Html.ValidationMessageFor(model => model.Email)</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.Password)</div>
                <div class="colright">@Html.PasswordFor(model => model.Password, new { @class = "long" })@Html.ValidationMessageFor(model => model.Password)</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.ConfirmPassword)</div>
                <div class="colright">@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "long" })@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
            </div>
    </div>
            <div class="wrapend">
                <div class="colleft"></div>
                <div class="colright">
                    <input type="submit" value="Submit" class="submitBtn"/>
                    <a href="Admin"><input type="button" value="Cancel" class="grayBtn"/></a>
                </div>
            </div>
        }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FirstName").focus();
    });
</script>