@model com.kuazoo.Models.GameModel
@{
    ViewBag.Title = "Game View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/fancy/jquery.fancybox.css")">
<script type="text/javascript">
    $(document).ready(function () {
        changeverticalnav(2);
        $('.fancybox').fancybox();

    });
    function tabOnSelect(e) {
        var tab = $(e.item).find("> .k-link").text();
        if (tab == "Winner") {
            $("#second").css("display", "block");
            $("#first").css("display", "none");
        }
        else {
            $("#second").css("display", "none");
            $("#first").css("display", "block");
        }
    }
</script>
<div id="breadcrumbs">
    <div class="mainwrap">
        <a href="@Url.Action("PrizeView","Admin")?PrizeId=@ViewBag.PrizeId#game">Game</a> <span class="active"> / View Game</span>  
@if (ViewBag.msg != null && ViewBag.msg != "")
{
        if (ViewBag.msg == "1")
        {
            <div class="notif csuccess"><div class="notifwrap success"><strong>Success:</strong> New inventory item successfully created</div></div>
        }
        else if (ViewBag.msg == "3")
        {
            <div class="notif cerror"><div class="notifwrap error"><strong>Error:</strong> Failed Create New Inventory Item</div></div>
        }
        else if (ViewBag.msg == "11")
        {
            <div class="notif csuccess"><div class="notifwrap success"><strong>Success:</strong> Inventory Item updated successfully</div></div>
        }
        else if (ViewBag.msg == "33")
        {
            <div class="notif cerror"><div class="notifwrap error"><strong>Error:</strong> Failed Update Inventory Item</div></div>
        }
}
    </div>
</div>
<div id="main">
    <div id="mainwrap">
        <h1>View Game</h1>
    </div>
    <div id="wrap">
    <div class="colright">
    <div class="colhalf">
        <div>
            <div class="colleft">@Html.LabelFor(model => model.PrizeId)</div>
            <div class="colright">@Model.PrizeName
            </div>
        </div> 
        <div>
            <div class="colleft">@Html.LabelFor(model => model.Name)</div>
            <div class="colright">@Model.Name</div>
        </div>
        <div>
            <div class="colleft">@Html.LabelFor(model => model.Description)</div>
            <div class="colright">@Model.Description</div>
        </div>
        <div>
            <div class="colleft">@Html.LabelFor(model => model.Instruction)</div>
            <div class="colright">@Model.Instruction</div>
        </div>
    </div>
    <div class="colhalf">
        <div>
            <div class="colleft">@Html.LabelFor(model => model.ExpiryDate)</div>
            <div class="colright">@string.Format("{0:dd MMM yyyy}", Model.ExpiryDate)
            </div>
        </div> 
        <div>
            <div class="colleft" style="vertical-align:top">Image</div>
            <div class="colright"  id="Gamemainimageplace" style="position:relative;">
                @if (Model != null && Model.ImageId != 0)
                {
                    var imgsp = "top:" + (Model.Latitude-3) + "px;left:" + (Model.Longitude-3) + "px";
                    <div class="imgSpot" style="@imgsp;display:block"></div>
                    <img src="@Model.ImageUrl" class="imgGame" style="float:left"/>         
                }
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="wrapend">
        <div class="colleft"></div>
        <div class="colright">
            <a href="GameEdit?GameId=@Model.GameId&PrizeId=@ViewBag.PrizeId" class="submitBtn">Edit</a>
            <a href="@Url.Action("PrizeView","Admin")?PrizeId=@ViewBag.PrizeId#game"><input type="button" value="Back" class="grayBtn"/></a>
        </div>
    </div>  
</div>