@model com.kuazoo.Models.MemberModel.Member
@{
    ViewBag.Title = "Member View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        changeverticalnav(8);
    });
</script>
<div id="breadcrumbs">
    <div class="mainwrap">
        <a href="Member">Member</a> <span class="active"> / View Member</span>
    </div>
</div>
<div id="main">
    <div id="mainwrap">
        <h1>View Member</h1>
    </div>
            @Html.HiddenFor(model=>model.MemberId)
    <div id="wrap">
    <div class="colright">
        <div>
            <div class="colleft">@Html.LabelFor(model => model.FirstName)</div>
            <div class="colright">@Model.FirstName</div>
        </div>
        <div>
            <div class="colleft">@Html.LabelFor(model => model.LastName)</div>
            <div class="colright">@Model.LastName</div>
        </div>
        <div>
            <div class="colleft">@Html.LabelFor(model => model.Email)</div>
            <div class="colright">@Model.Email</div>
        </div>
        <div>
            <div class="colleft">@Html.LabelFor(model => model.Gender)</div>
            <div class="colright">@if (Model.Gender == 1)
                                  { <text>Male</text> }
                                  else if (Model.Gender == 2)
                                  { <text>Female</text> }
                                  else { <text>-</text>}</div>
        </div>
        <div>
            <div class="colleft">@Html.LabelFor(model => model.DateOfBirth)</div>
            <div class="colright">@string.Format("{0:dd MMM yyyy}", Model.DateOfBirth) </div>
        </div>
        <div>
            <div class="colleft">@Html.LabelFor(model => model.MemberStatus)</div>
            <div class="colright">@Model.MemberStatus.MemberStatusName</div>
        </div>
    </div>
    </div>
    <div class="wrapend">
        <div class="colleft"></div>
        <div class="colright"><a href="MemberEdit?MemberId=@Model.MemberId" class="submitBtn">Edit</a>
        <a href="Member" class="grayBtn">Back</a></div>
    </div>

</div>
