@model com.kuazoo.Models.MerchantModel
@{
    ViewBag.Title = "Merchant View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <script src="@Url.Content("~/Scripts/jquery.fancybox.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/fancy/jquery.fancybox.css")">
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBe9tprDB4drAPp-O4-Ypcer1EOvUUvrQ&sensor=true">
    </script>
<script type="text/javascript">
    $(document).ready(function () {
        changeverticalnav(1);
        $('.fancybox').fancybox();
    });
</script>
<div id="breadcrumbs">
    <div class="mainwrap">
        <a href="Merchant">Merchant</a> <span class="active"> / View Merchant</span>
    </div>
</div>
<div id="main">
    <div id="mainwrap">
        <h1>View Merchant</h1>
    </div>
            @Html.HiddenFor(model => model.MerchantId)
            @Html.HiddenFor(model => model.StatusId)
            @Html.HiddenFor(model => model.Latitude)
            @Html.HiddenFor(model => model.Longitude)
    <div id="wrap">
    <div class="colright">
        <div class="colhalf">
            <div>
                <div class="colleft">@Html.LabelFor(model => model.Name)</div>
                <div class="colright">@Model.Name</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.ContactNumber)</div>
                <div class="colright">@Model.ContactNumber</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.Email)</div>
                <div class="colright">@Model.Email</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.Website)</div>
                <div class="colright">@Model.Website</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.Facebook)</div>
                <div class="colright">@Model.Facebook</div>
            </div>
            <div>
                <div class="colleft">@Html.LabelFor(model => model.Description)</div>
                <div class="colright">@Model.Description</div>
            </div>
            <div>
                <div class="colleft" style="vertical-align:top">Image</div>
                <div class="colright">
                    @{
                        var listsuburl = Model.SubImageUrl.Split('|');
                        var listsuburllink = Model.SubImageUrlLink.Split('|');
                    }
                    @for (int i = 0; i < listsuburl.Count(); i++)
                    {
                        if (listsuburl[i] != "")
                        {
                        <div class="subimgplace">
                            <a  class="fancybox subimga">
                                <img src="@listsuburl[i]" class="imgThumb" />
                            </a>   
                            <div class="subimghalf">
                                @listsuburllink[i]
                            </div> 
                        </div>
                        }
                    }
                    
                   
                </div>
            </div>
        </div>
        <div class="colhalf">
            <div class="colright">
                <div class="colleft">@Html.LabelFor(model => model.AddressLine1)</div>
                <div class="colright">@Model.AddressLine1</div>
            </div>
            @*<div>
                <div class="colleft">@Html.LabelFor(model => model.AddressLine2)</div>
                <div class="colright">@Html.TextBoxFor(model => model.AddressLine2)@Html.ValidationMessageFor(model => model.AddressLine2)</div>
            </div>*@
            <div class="colhalfhalf">            
                <div>
                    <div class="colleft">@Html.LabelFor(model => model.CountryId)</div>
                    <div class="colright">@Model.Country.CountryName</div>
                </div>
                <div>
                    <div class="colleft">@Html.LabelFor(model => model.CityId)</div>
                    <div class="colright">@Model.City.CityName</div>
                </div>
            </div>
            <div class="colhalfhalf">
                <div>
                    <div class="colleft">@Html.LabelFor(model => model.PostCode)</div>
                    <div class="colright">@Model.PostCode</div>
                </div>
            </div>
            <div class="colright">
                <div id="map_canvas"></div>
                <script type="text/javascript">
                    $(function () {
                        initializeEditMap();
                    }); 
                </script> 
            </div> 
        </div>
    </div>
    </div>
            <div class="wrapend">
                <div class="colleft"></div>
                <div class="colright"><a href="MerchantEdit?MerchantId=@Model.MerchantId" class="submitBtn">Edit</a>
                <a href="Merchant" class="grayBtn">Back</a></div>
            </div>

</div>

<script type="text/javascript">

    var lat, lng, map;

    var infowindow = new google.maps.InfoWindow();

    function initializeEditMap() {

        geocoder = new google.maps.Geocoder();
        lat = $('#Latitude').val();
        lng = $('#Longitude').val();
        $('#TempLatLong').val("(" + lat + "," + lng + ")");
        var loc = new google.maps.LatLng(lat, lng);
        var mapOptions = {
            zoom: 16,
            center: loc,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
				            mapOptions);

        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: loc
        });



    }

</script>